*,
*::before,
*::after {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #172b4d;
}

.site-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-placeholder {
  font-size: 1.25rem;
  color: #172b4d;
}

.header-nav {
  display: none;
}

.headline {
  background-image: url("assets/header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.headline h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.supporting-text {
  text-align: center;
  margin: 3rem auto;
}

.break {
  display: none;
}

.headline h1 span {
  color: #21a870;
}

.social-icons {
  text-align: center;
  display: flex;
  justify-content: center;
}

.social-icons a {
  height: auto;
  width: 2rem;
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.action {
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .headline {
    background-size: 100%;
  }

  .social-icons a:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .logo-placeholder,
  .menu-icon {
    display: none;
  }

  .header-nav {
    display: flex;
    width: 100vw;
  }

  .nav-items {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .nav-item:hover {
    cursor: pointer;
  }

  .supporting-text {
    text-align: center;
    margin-top: 5rem;
    width: 60vw;
    line-height: 2rem;
  }

  .social-icons {
    margin-top: 3rem;
  }
}

/*
* RECENT WORKS
*/

.recent-works {
  margin: 3rem auto 1rem;
}

.rw-header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-works-header {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

.recent-works-indicator {
  height: 0.25rem;
  width: 2.5rem;
  margin-top: 1rem;
}

.recent-works-group {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.recent-works-item {
  border: 2px solid #ebf0ee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.recent-works-item > * {
  flex: 1 1 auto;
}

.img-placeholder {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.project-tags {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 2rem;
}

.tag {
  width: auto;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: 500;
}

.project-action {
  border-radius: 4px;
  background: #36b37f;
  padding: 0.75rem;
  color: white;
  font-size: 1.1rem;
  margin: 1rem auto;
}

/*
* ABOUT ME
*/

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-header {
  font-weight: 700;
  font-size: 2.5rem;
}

.about-me-text {
  text-align: center;
  margin: 1rem auto;
  font-weight: 400;
  font-size: 1.25rem;
}

.resume-btn {
  background: #36b37f;
  padding: 0.75rem;
  color: white;
  border-radius: 4px;
}

.about-me-card {
  
}
